<ion-item>
  <ion-thumbnail slot="start">
    <img [src]="item?.cover ? item?.cover : 'assets/imgs/1.jpg'" />
  </ion-thumbnail>
  <ion-label>
    <h4>{{item?.name}}</h4>
      <p class="ion-text-wrap">{{item?.desc}}</p>
      <ion-text> <p>R{{item?.price | number: '0.2-2'}}</p> </ion-text>
  </ion-label>
  @if(!item.quantity || item.quantity <= 0) {
    <ion-row (click)="addToCart()">
      <ion-text class="ion-padding-horizontal" color="success">Add</ion-text>
    </ion-row>
  }
  @if(item.quantity && item.quantity > 0) {
    <ion-row>
      <ion-icon color="success" name="remove-outline" (click)="removeFromCart()"></ion-icon>
      <ion-text class="ion-text-center quantity" color="success"> {{item?.quantity}} </ion-text>
      <ion-icon color="success" name="add-outline" (click)="addToCart()"></ion-icon>
    </ion-row>
  }
</ion-item>
