<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> Items</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
      <app-restaurant-detail
        [data]="data"
        [isLoading]="isLoading"
      ></app-restaurant-detail>

    <ion-row class="ion-padding borderBottomSmall veg">
      <ion-label>
        <h4>VEG ONLY</h4>
      </ion-label>
      <ion-toggle mode="md" color="success" (ionChange)="vegOnly($event)" [checked]="veg"></ion-toggle>
    </ion-row>
    @if(!isLoading && categories?.length == 0){
      <app-empty-screen [model]="model"></app-empty-screen>
      }

    @if (isLoading) { 
      <app-loading-restaurant></app-loading-restaurant>
    }
    @else {
    @for (category of categories; track $index) {
      <ion-list lines="none">
        <ion-list-header>
          {{ category?.name }}
        </ion-list-header>

        @for (item of items; track $index) {
          <ng-container>
            @if (item?.category_id == category?.id) {
              <app-item
                [item]="item"
                [index]="$index"
                (add)="addToCart($event)"
                (remove)="removeFromCart($event)"
              ></app-item>
            }
          </ng-container>
        }
      </ion-list>
    }
  }
  </div>

</ion-content>

@if(cartData.totalItem > 0) {
  <ion-footer>
    <ion-toolbar color="success">
      <ion-label color=white>
        <h4> {{cartData.totalItem}} Item@if(cartData.totalItem > 1) {s} | R {{cartData.totalPrice}}</h4>
        <ion-text color="light">
          <p>Extra charges may apply</p>
        </ion-text>
      </ion-label>
      <ion-button color=white slot="end" fill="clear" (click)="viewCart()"> 
        <ion-icon slot="end" name="cart-outline"></ion-icon>
        VIEW CART
      </ion-button>
    </ion-toolbar>
  </ion-footer>
}