<ion-header>
    <ion-toolbar>
        <ion-searchbar 
            #searchInput
            animated="true"
            debounce="800"
            (ionInput)="onSearchChange($event)"
            placeholder="Search">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    @if (isLoading) {
        <app-loading-restaurant></app-loading-restaurant>
    _}

    @if (!isLoading && restaurants?.length == 0 || query?.length == 0) {
        <app-empty-screen [model]="model"></app-empty-screen>
    }

    @if (!isLoading && restaurants.length > 0) {
        <ion-list>
            <ion-list-header>
                <ion-label><h4> Search results for "{{ query }}"</h4></ion-label>
            </ion-list-header>
            @for (restaurant of restaurants; track $index) {
                <app-restaurant [restaurants]="restaurants"></app-restaurant>
            }
        </ion-list>
    }
    

</ion-content>