ion-img {
    border-radius: 5px;
}


.details {
    font-size: 1.01rem;
}

.home {
    margin-right: 0.6rem;
}

ion-input {
    font-size: large;
}

ion-item {
    letter-spacing: 0.4px;
    ion-text {
        font-size: 0.9rem;
    }

    h4, h4, h3 {
        font-weight: bold;
    }

    ion-label {
        font-size: 0.95rem;
    }

}

.colStyle {
    background-color: var(--ion-color-success);
}

ion-footer {
    ion-text, p {
        font-size: 0.75rem;
    }

    ion-col {
        ion-label {
            margin: 0 0.5rem;
        }
    }
}