ion-img {
    border-radius: 5px;
}
.quantity {
        width: 2rem;
    }


.price{
    width: 5rem;
}

.details {
    font-size: 1.01rem;
}

.home {
    margin-right: 0.6rem;
}

ion-input {
    font-size: large;
}

ion-item {
    letter-spacing: 0.5px;
    ion-text {
        font-size: 0.9rem;
    }

    ion-row {
        border: 1px solid var(--ion-color-medium);
        border-radius: 2px;
        padding: 0.3rem;
        
    }

    ion-label {
        font-size: 0.95rem;
    }

}

.dotStyle {
    padding: 0 0.1rem;
    border: 1px solid var(--ion-color-success);
    margin: 0 0.5rem;
}

.colStyle {
    background-color: var(--ion-color-success);
}

ion-footer {
    ion-text, p {
        font-size: 0.75rem;
    }

    ion-col {
        ion-label {
            margin: 0 0.5rem;
        }
    }
}